apps/n8n-workflows.bak.1779237077/dept-sales.json
{
  "name": "org-ai Dept Sales",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $json.runData.taskId }}" },
            { "name": "message", "value": "営業部 (Sales) ワークフロー開始" },
            { "name": "level", "value": "INFO" }
          ]
        },
        "options": {}
      },
      "id": "log-start",
      "name": "Log Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const rd = $('Execute Workflow Trigger').item.json.runData;\nconst input = (rd.input ?? '').toLowerCase();\nconst hint = (rd.taskType ?? '').toLowerCase();\nconst kw = (words) => words.some(w => input.includes(w.toLowerCase()) || hint.includes(w.toLowerCase()));\n\nlet taskMode = 'proposal';\nif (kw(['メール','email','mail','送信','送って'])) taskMode = 'email';\nelse if (kw(['議事録','商談メモ','ミーティング','会議メモ'])) taskMode = 'meeting_notes';\nelse if (kw(['提案書','企画書','ドキュメント','資料','報告書','レポート'])) taskMode = 'proposal';\nelse if (kw(['見積','見積書','quote'])) taskMode = 'quote';\nelse if (kw(['スケジュール','日程','カレンダー','予定'])) taskMode = 'schedule';\n\nconst prompts = {\n  email: `あなたは営業部のメール作成AIです。ユーザーの指示に基づき、丁寧かつビジネスライクなメールを作成してください。\\n必ず以下のJSON形式のみを返してください。\\n{\"taskType\":\"email\",\"to\":\"宛先\",\"cc\":\"\",\"subject\":\"件名\",\"body\":\"本文（改行は\\\\nで表現）\"}`,\n  meeting_notes: `あなたは営業議事録AIです。商談メモを構造化してまとめます。\\nJSON: {\"taskType\":\"meeting_notes\",\"title\":\"\",\"date\":\"YYYY-MM-DD\",\"attendees\":[],\"agenda\":[],\"decisions\":[],\"actionItems\":[{\"assignee\":\"\",\"task\":\"\",\"deadline\":\"\"}],\"summary\":\"\"}`,\n  proposal: `あなたは営業提案書AIです。プロフェッショナルな提案書を作成します。\\nJSON: {\"taskType\":\"proposal\",\"title\":\"\",\"summary\":\"\",\"content\":\"\"}`,\n  quote: `あなたは営業見積書AIです。見積を構造化します。\\nJSON: {\"taskType\":\"quote\",\"client\":\"\",\"items\":[{\"name\":\"\",\"qty\":1,\"unitPrice\":0}],\"totalAmount\":0,\"notes\":\"\"}`,\n  schedule: `あなたはスケジュール調整AIです。\\nJSON: {\"taskType\":\"schedule\",\"title\":\"\",\"preferredDates\":[\"YYYY-MM-DD\"],\"duration\":60,\"participants\":[],\"notes\":\"\"}`\n};\nconst systemPrompt = prompts[taskMode] ?? prompts.proposal;\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: rd.input }\n];\nreturn [{ json: { messages, taskMode, useJsonMode: true, department: 'SALES', org_id: rd.orgId, plan: rd.plan ?? 'STARTER', aiEngineUrl: rd.aiEngineUrl ?? 'http://ai-engine:8000' } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.aiEngineUrl }}/llm/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messages: $json.messages, department: $json.department, org_id: $json.org_id, plan: $json.plan, json_mode: $json.useJsonMode }) }}",
        "options": {}
      },
      "id": "ai-chat",
      "name": "AI Engine Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build Prompt').item.json.taskMode }}",
                    "rightValue": "email",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-mode",
      "name": "Switch Email vs Other",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content ?? '';\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch { parsed = { to: '', subject: '(AI 出力をJSONパース失敗)', body: raw }; }\nreturn [{ json: { ...parsed, _ai: $json } }];"
      },
      "id": "parse-email",
      "name": "Parse Email JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "ccList": "={{ $json.cc || '' }}",
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "status", "value": "DONE" },
            { "name": "output", "value": "={{ JSON.stringify({ taskType: 'email', sentTo: $('Parse Email JSON').item.json.to, subject: $('Parse Email JSON').item.json.subject, body: $('Parse Email JSON').item.json.body }) }}" },
            { "name": "workflowId", "value": "={{ $workflow.id }}" }
          ]
        },
        "options": {}
      },
      "id": "callback-email",
      "name": "Callback (Email Done)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "status", "value": "DONE" },
            { "name": "output", "value": "={{ $('AI Engine Chat').item.json.content }}" },
            { "name": "workflowId", "value": "={{ $workflow.id }}" }
          ]
        },
        "options": {}
      },
      "id": "callback-other",
      "name": "Callback (Other Done)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Log Start", "type": "main", "index": 0 }]] },
    "Log Start": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "AI Engine Chat", "type": "main", "index": 0 }]] },
    "AI Engine Chat": { "main": [[{ "node": "Switch Email vs Other", "type": "main", "index": 0 }]] },
    "Switch Email vs Other": {
      "main": [
        [{ "node": "Parse Email JSON", "type": "main", "index": 0 }],
        [{ "node": "Callback (Other Done)", "type": "main", "index": 0 }]
      ]
    },
    "Parse Email JSON": { "main": [[{ "node": "Send Email (Gmail)", "type": "main", "index": 0 }]] },
    "Send Email (Gmail)": { "main": [[{ "node": "Callback (Email Done)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null
}
