apps/n8n-workflows/chat-response.json
{
  "name": "org-ai Chat Response",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 部署別システムプロンプトを決定\nconst dept = $input.item.json.runData.department;\nconst deptPrompts = {\n  SALES: `あなたは優秀な営業アシスタントです。\n以下を得意とします：\n- 顧客向け提案書・メール文章の作成\n- 見積書・提案資料の構成\n- 商談フォロー文面の作成\n- 営業戦略のアドバイス\n回答は具体的かつ実用的に、すぐに使える形式で提供してください。`,\n  MARKETING: `あなたは優秀なマーケティングアシスタントです。\n以下を得意とします：\n- SNS投稿・広告コピーの作成\n- キャンペーン企画・施策提案\n- ブランディング・メッセージング\n- マーケティング戦略のアドバイス\n回答はクリエイティブで、ターゲットに刺さる表現で提供してください。`,\n  ACCOUNTING: `あなたは優秀な経理・財務アシスタントです。\n以下を得意とします：\n- 経費精算・請求書の処理方法\n- 予算管理・財務分析のアドバイス\n- 税務・会計に関する一般的な質問への回答\n- 財務レポートの作成サポート\n正確で信頼性の高い情報を提供してください。`,\n  GENERAL: `あなたは優秀なビジネスアシスタントです。\n幅広いビジネス課題に対して、実用的なアドバイスと具体的なサポートを提供します。\nユーザーの質問に対して丁寧かつ的確に回答してください。`\n};\n\nconst systemPrompt = deptPrompts[dept] ?? deptPrompts.GENERAL;\n\n// 会話履歴をOpenAI形式に変換\nconst history = ($input.item.json.runData.history ?? []).slice(-8);\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history,\n  { role: 'user', content: $input.item.json.runData.message }\n];\n\nreturn [{ json: { messages, department: dept ?? 'GENERAL' } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: $json.messages, max_tokens: 2000, temperature: 0.7 }) }}",
        "options": {}
      },
      "id": "groq-chat",
      "name": "Groq Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiContent = $input.item.json.choices?.[0]?.message?.content ?? '';\nconst dept = $('Build Prompt').item.json.department;\nreturn [{ json: { content: aiContent, department: dept } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Prompt": {
      "main": [
        [{ "node": "Groq Chat", "type": "main", "index": 0 }]
      ]
    },
    "Groq Chat": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null
}
