apps/n8n-workflows/dept-accounting.json
{
  "name": "org-ai Dept Accounting",
  "nodes": [
    { "parameters": {}, "id": "trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [240, 300] },
    {
      "parameters": {
        "url": "={{ $json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" } ] },
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "taskId", "value": "={{ $json.runData.taskId }}" }, { "name": "message", "value": "経理部 (Accounting) ワークフロー開始" }, { "name": "level", "value": "INFO" } ] },
        "options": {}
      },
      "id": "log-start", "name": "Log Start", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const rd = $('Execute Workflow Trigger').item.json.runData;\nconst input = (rd.input ?? '').toLowerCase();\nconst hint = (rd.taskType ?? '').toLowerCase();\nconst kw = (words) => words.some(w => input.includes(w.toLowerCase()) || hint.includes(w.toLowerCase()));\n\nlet taskMode = 'expense_report';\nif (kw(['メール','email','mail','送信','通知'])) taskMode = 'email';\nelse if (kw(['請求書','インボイス','invoice'])) taskMode = 'invoice_check';\nelse if (kw(['領収書','レシート','receipt'])) taskMode = 'receipt_summary';\nelse if (kw(['経費レポート','月次','予算','expense'])) taskMode = 'expense_report';\n\nconst prompts = {\n  email: `あなたは経理部のメールAIです。請求/支払い/経費に関する事務メールを作成します。\\nJSON: {\"taskType\":\"email\",\"to\":\"\",\"cc\":\"\",\"subject\":\"\",\"body\":\"\"}`,\n  invoice_check: `あなたは経理AIです。請求書チェック結果を整理してください。\\nJSON: {\"taskType\":\"invoice_check\",\"title\":\"\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"\",\"amount\":0,\"category\":\"\"}],\"totalAmount\":0,\"summary\":\"\"}`,\n  receipt_summary: `あなたは経理AIです。領収書をまとめます。\\nJSON: {\"taskType\":\"receipt_summary\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"\",\"amount\":0,\"category\":\"\"}],\"totalAmount\":0,\"summary\":\"\"}`,\n  expense_report: `あなたは経理AIです。月次経費レポートを作成します。\\nJSON: {\"taskType\":\"expense_report\",\"title\":\"\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"\",\"amount\":0,\"category\":\"\"}],\"totalAmount\":0,\"summary\":\"\"}`\n};\nconst systemPrompt = prompts[taskMode] ?? prompts.expense_report;\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: rd.input }\n];\nreturn [{ json: { messages, taskMode, useJsonMode: true, department: 'ACCOUNTING', org_id: rd.orgId, plan: rd.plan ?? 'STARTER', aiEngineUrl: rd.aiEngineUrl ?? 'http://ai-engine:8000' } }];"
      },
      "id": "build-prompt", "name": "Build Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.aiEngineUrl }}/llm/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messages: $json.messages, department: $json.department, org_id: $json.org_id, plan: $json.plan, json_mode: $json.useJsonMode }) }}",
        "options": {}
      },
      "id": "ai-chat", "name": "AI Engine Chat", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [900, 300]
    },
    {
      "parameters": {
        "rules": { "values": [ { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $('Build Prompt').item.json.taskMode }}", "rightValue": "email", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "renameOutput": true, "outputKey": "email" } ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-mode", "name": "Switch Email vs Other", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1120, 300]
    },
    {
      "parameters": { "jsCode": "const raw = $json.content ?? '';\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch { parsed = { to: '', subject: '(AI 出力をJSONパース失敗)', body: raw }; }\nreturn [{ json: { ...parsed, _ai: $json } }];" },
      "id": "parse-email", "name": "Parse Email JSON", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1340, 200]
    },
    {
      "parameters": { "sendTo": "={{ $json.to }}", "subject": "={{ $json.subject }}", "emailType": "text", "message": "={{ $json.body }}", "options": { "ccList": "={{ $json.cc || '' }}", "appendAttribution": false } },
      "id": "send-email", "name": "Send Email (Gmail)", "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [1560, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" } ] },
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" }, { "name": "status", "value": "DONE" }, { "name": "output", "value": "={{ JSON.stringify({ taskType: 'email', sentTo: $('Parse Email JSON').item.json.to, subject: $('Parse Email JSON').item.json.subject }) }}" }, { "name": "workflowId", "value": "={{ $workflow.id }}" } ] },
        "options": {}
      },
      "id": "callback-email", "name": "Callback (Email Done)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" } ] },
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" }, { "name": "status", "value": "DONE" }, { "name": "output", "value": "={{ $('AI Engine Chat').item.json.content }}" }, { "name": "workflowId", "value": "={{ $workflow.id }}" } ] },
        "options": {}
      },
      "id": "callback-other", "name": "Callback (Other Done)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1340, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Log Start", "type": "main", "index": 0 }]] },
    "Log Start": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "AI Engine Chat", "type": "main", "index": 0 }]] },
    "AI Engine Chat": { "main": [[{ "node": "Switch Email vs Other", "type": "main", "index": 0 }]] },
    "Switch Email vs Other": { "main": [ [{ "node": "Parse Email JSON", "type": "main", "index": 0 }], [{ "node": "Callback (Other Done)", "type": "main", "index": 0 }] ] },
    "Parse Email JSON": { "main": [[{ "node": "Send Email (Gmail)", "type": "main", "index": 0 }]] },
    "Send Email (Gmail)": { "main": [[{ "node": "Callback (Email Done)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null
}
