apps/n8n-workflows/dept-analytics.json
{
  "name": "org-ai Dept Analytics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dept-analytics",
        "responseMode": "onReceived",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "0d86c0e7-a0b8-4a2d-b91a-eb0a4662fd8b"
    },
    {
      "parameters": {
        "url": "={{ $json.body.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-token",
              "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.body.taskId }}"
            },
            {
              "name": "message",
              "value": "分析部 (Analytics) ワークフロー開始"
            },
            {
              "name": "level",
              "value": "INFO"
            }
          ]
        },
        "options": {}
      },
      "id": "log-start",
      "name": "Log Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rd = $('Webhook').item.json.body;\nconst input = (rd.input ?? '').toLowerCase();\nconst hint = (rd.taskType ?? '').toLowerCase();\nconst kw = (words) => words.some(w => input.includes(w.toLowerCase()) || hint.includes(w.toLowerCase()));\n\nlet taskMode = 'market_analysis';\nif (kw(['メール','email','mail','送信','配信'])) taskMode = 'email';\nelse if (kw(['グラフ','チャート','可視化','kpi','統計','トレンド'])) taskMode = 'data_visualization';\nelse if (kw(['市場分析','競合分析','マーケット','市場調査','swot'])) taskMode = 'market_analysis';\n\nconst prompts = {\n  email: `あなたは分析部のレポートメールAIです。分析結果をビジネスメールにまとめます。\\nJSON: {\"taskType\":\"email\",\"to\":\"\",\"cc\":\"\",\"subject\":\"\",\"body\":\"本文（要点を箇条書きで）\"}`,\n  market_analysis: `あなたはデータサイエンティストです。\\nJSON: {\"taskType\":\"market_analysis\",\"title\":\"\",\"summary\":\"\",\"sections\":[{\"heading\":\"\",\"content\":\"\"}],\"conclusion\":\"\",\"risks\":[]}`,\n  data_visualization: `あなたはデータサイエンティストです。\\nJSON: {\"taskType\":\"data_visualization\",\"title\":\"\",\"chartType\":\"bar\",\"data\":[{\"label\":\"\",\"value\":0}],\"summary\":\"\"}`\n};\nconst systemPrompt = prompts[taskMode] ?? prompts.market_analysis;\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: rd.input }\n];\nreturn [{ json: { messages, taskMode, useJsonMode: true, department: 'ANALYTICS', org_id: rd.orgId, plan: rd.plan ?? 'STARTER', aiEngineUrl: rd.aiEngineUrl ?? 'http://ai-engine:8000' } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.aiEngineUrl }}/llm/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messages: $json.messages, department: $json.department, org_id: $json.org_id, plan: $json.plan, json_mode: $json.useJsonMode }) }}",
        "options": {}
      },
      "id": "ai-chat",
      "name": "AI Engine Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Build Prompt').item.json.taskMode }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-mode",
      "name": "Switch Email vs Other",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content ?? '';\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch { parsed = { to: '', subject: '(AI 出力をJSONパース失敗)', body: raw }; }\nreturn [{ json: { ...parsed, _ai: $json } }];"
      },
      "id": "parse-email",
      "name": "Parse Email JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "ccList": "={{ $json.cc || '' }}",
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-token",
              "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Webhook').item.json.body.taskId }}"
            },
            {
              "name": "status",
              "value": "DONE"
            },
            {
              "name": "output",
              "value": "={{ JSON.stringify({ taskType: 'email', sentTo: $('Parse Email JSON').item.json.to, subject: $('Parse Email JSON').item.json.subject }) }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-email",
      "name": "Callback (Email Done)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-token",
              "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Webhook').item.json.body.taskId }}"
            },
            {
              "name": "status",
              "value": "DONE"
            },
            {
              "name": "output",
              "value": "={{ $('AI Engine Chat').item.json.content }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-other",
      "name": "Callback (Other Done)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        400
      ]
    }
  ],
  "connections": {
    "Log Start": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Engine Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Engine Chat": {
      "main": [
        [
          {
            "node": "Switch Email vs Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Email vs Other": {
      "main": [
        [
          {
            "node": "Parse Email JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback (Other Done)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email JSON": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [
          {
            "node": "Callback (Email Done)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Log Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null
}
