apps/n8n-workflows/schedule-dispatcher.json
{
  "name": "org-ai Schedule Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 * * * *" }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_GATEWAY_URL || 'http://api-gateway:4000' }}/api/webhooks/n8n/scheduled-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-jobs",
      "name": "Fetch Scheduled Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data ?? [];\nreturn data.map((job) => ({ json: job }));"
      },
      "id": "explode",
      "name": "Explode Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_GATEWAY_URL || 'http://api-gateway:4000' }}/api/webhooks/n8n/enqueue-scheduled-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "={{ $env.N8N_WEBHOOK_AUTH_TOKEN || 'org-ai-n8n-secret-token' }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ scheduledTaskId: $json.id }) }}",
        "options": {}
      },
      "id": "enqueue",
      "name": "Enqueue Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every Hour": { "main": [[{ "node": "Fetch Scheduled Jobs", "type": "main", "index": 0 }]] },
    "Fetch Scheduled Jobs": { "main": [[{ "node": "Explode Jobs", "type": "main", "index": 0 }]] },
    "Explode Jobs": { "main": [[{ "node": "Enqueue Task", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "staticData": null
}
