apps/n8n-workflows/task-document.json
{
  "name": "org-ai Task Document",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $json.runData.taskId }}" },
            { "name": "message", "value": "成果物生成ワークフロー開始" },
            { "name": "level", "value": "INFO" }
          ]
        },
        "options": {}
      },
      "id": "log-start",
      "name": "Log Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 部署とタスクタイプに応じてGPT-4oへのプロンプトを構築\nconst dept = $('Execute Workflow Trigger').item.json.runData.department;\nconst input = $('Execute Workflow Trigger').item.json.runData.input;\nconst docType = $('Execute Workflow Trigger').item.json.runData.docType ?? 'auto';\n\nconst deptContext = {\n  SALES: '営業部門向け。顧客提案・見積もり・営業メールを専門とする。',\n  MARKETING: 'マーケティング部門向け。SNS・広告・キャンペーン・ブランディングを専門とする。',\n  ACCOUNTING: '経理部門向け。財務分析・予算・請求書・経費管理を専門とする。',\n  GENERAL: '汎用ビジネス向け。'\n};\n\n// 成果物タイプ別プロンプト\nconst outputPrompts = {\n  spreadsheet: `以下の依頼に対して、スプレッドシートのデータを作成してください。\nJSON形式で { \"title\": \"タイトル\", \"headers\": [\"列名1\", \"列名2\", ...], \"rows\": [[値1, 値2, ...], ...] } として返してください。`,\n  document: `以下の依頼に対して、ドキュメントの内容を作成してください。\nJSON形式で { \"title\": \"タイトル\", \"content\": \"本文（マークダウン形式）\" } として返してください。`,\n  slides: `以下の依頼に対して、プレゼンテーションのスライド構成を作成してください。\nJSON形式で { \"title\": \"タイトル\", \"slides\": [{ \"title\": \"スライドタイトル\", \"content\": \"内容\", \"notes\": \"発表メモ\" }] } として返してください。`,\n  auto: `以下の依頼の内容に最適な成果物を生成してください。\nスプレッドシート（数値・リスト中心）、ドキュメント（文章・報告書）、スライド（プレゼン）のいずれかを選び、\nJSON形式で { \"outputType\": \"spreadsheet|document|slides\", \"data\": { ... } } として返してください。`\n};\n\nconst systemPrompt = `あなたは${deptContext[dept] ?? deptContext.GENERAL}のビジネス文書作成の専門家です。\n${outputPrompts[docType] ?? outputPrompts.auto}\n\n必ず有効なJSONのみを返し、説明文は含めないでください。`;\n\nreturn [{ json: { systemPrompt, userInput: input, docType, department: dept } }];"
      },
      "id": "build-doc-prompt",
      "name": "Build Doc Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.userInput }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.3,
          "responseFormat": "json_object"
        }
      },
      "id": "gpt4o-generate",
      "name": "GPT-4o Generate",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GPT-4oの出力をパース\nconst rawContent = $input.item.json.message?.content ?? $input.item.json.choices?.[0]?.message?.content ?? '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch {\n  parsed = { outputType: 'document', data: { title: 'エラー', content: rawContent } };\n}\n\n// outputType の正規化\nlet outputType = parsed.outputType;\nif (!outputType) {\n  if (parsed.headers) outputType = 'spreadsheet';\n  else if (parsed.slides) outputType = 'slides';\n  else outputType = 'document';\n}\n\nconst department = $('Build Doc Prompt').item.json.department;\nconst taskId = $('Execute Workflow Trigger').item.json.runData.taskId;\nconst logUrl = $('Execute Workflow Trigger').item.json.runData.logUrl;\nconst callbackUrl = $('Execute Workflow Trigger').item.json.runData.callbackUrl;\n\nreturn [{ json: { outputType, data: parsed.data ?? parsed, department, taskId, logUrl, callbackUrl } }];"
      },
      "id": "parse-output",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "spreadsheet-check",
              "leftValue": "={{ $json.outputType }}",
              "rightValue": "spreadsheet",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "route-spreadsheet",
      "name": "Is Spreadsheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "slides-check",
              "leftValue": "={{ $json.outputType }}",
              "rightValue": "slides",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "route-slides",
      "name": "Is Slides?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "title": "={{ $json.data.title ?? 'org-ai 生成スプレッドシート' }}",
        "options": {}
      },
      "id": "create-gsheet",
      "name": "Create Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1520, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      },
      "parameters": {
        "operation": "create"
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Google Sheet').item.json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ Object.fromEntries(($('Parse Output').item.json.data.headers ?? []).map((h, i) => [h, ($('Parse Output').item.json.data.rows?.[0]?.[i] ?? '')])) }}"
        },
        "options": {}
      },
      "id": "fill-gsheet",
      "name": "Fill Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1720, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.data.title ?? 'org-ai 生成ドキュメント' }}",
        "content": "={{ $json.data.content ?? '' }}"
      },
      "id": "create-gdoc",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1520, 300],
      "credentials": {
        "googleDocsOAuth2Api": {
          "name": "Google Docs OAuth2"
        }
      },
      "parameters": {
        "operation": "create"
      }
    },
    {
      "parameters": {
        "title": "={{ $json.data.title ?? 'org-ai プレゼンテーション' }}"
      },
      "id": "create-gslides",
      "name": "Create Google Slides",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 1,
      "position": [1520, 500],
      "credentials": {
        "googleSlidesOAuth2Api": {
          "name": "Google Slides OAuth2"
        }
      },
      "parameters": {
        "operation": "create"
      }
    },
    {
      "parameters": {
        "jsCode": "// 各ノードの結果をまとめてコールバックURLに送信\nconst taskId = $('Parse Output').item.json.taskId;\nconst callbackUrl = $('Parse Output').item.json.callbackUrl;\nconst outputType = $('Parse Output').item.json.outputType;\n\n// どのノードが実行されたか確認\nlet docUrl = '';\nlet summary = '';\n\ntry {\n  const sheetResult = $('Create Google Sheet').item?.json;\n  if (sheetResult?.spreadsheetUrl) {\n    docUrl = sheetResult.spreadsheetUrl;\n    summary = `Google スプレッドシートを作成しました: ${sheetResult.properties?.title}`;\n  }\n} catch {}\n\ntry {\n  const docResult = $('Create Google Doc').item?.json;\n  if (docResult?.documentId) {\n    docUrl = `https://docs.google.com/document/d/${docResult.documentId}`;\n    summary = `Google ドキュメントを作成しました: ${docResult.title}`;\n  }\n} catch {}\n\ntry {\n  const slidesResult = $('Create Google Slides').item?.json;\n  if (slidesResult?.presentationId) {\n    docUrl = `https://docs.google.com/presentation/d/${slidesResult.presentationId}`;\n    summary = `Google スライドを作成しました`;\n  }\n} catch {}\n\nconst output = JSON.stringify({\n  outputType,\n  docUrl,\n  summary,\n  generatedAt: new Date().toISOString()\n});\n\nreturn [{ json: { taskId, callbackUrl, output, summary } }];"
      },
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $json.taskId }}" },
            { "name": "status", "value": "DONE" },
            { "name": "output", "value": "={{ $json.output }}" },
            { "name": "workflowId", "value": "={{ $workflow.id }}" }
          ]
        },
        "options": {}
      },
      "id": "complete-success",
      "name": "Complete Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2140, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Log Start", "type": "main", "index": 0 }]
      ]
    },
    "Log Start": {
      "main": [
        [{ "node": "Build Doc Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Doc Prompt": {
      "main": [
        [{ "node": "GPT-4o Generate", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o Generate": {
      "main": [
        [{ "node": "Parse Output", "type": "main", "index": 0 }]
      ]
    },
    "Parse Output": {
      "main": [
        [
          { "node": "Is Spreadsheet?", "type": "main", "index": 0 },
          { "node": "Is Slides?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Spreadsheet?": {
      "main": [
        [{ "node": "Create Google Sheet", "type": "main", "index": 0 }],
        [{ "node": "Create Google Doc", "type": "main", "index": 0 }]
      ]
    },
    "Is Slides?": {
      "main": [
        [{ "node": "Create Google Slides", "type": "main", "index": 0 }],
        []
      ]
    },
    "Create Google Sheet": {
      "main": [
        [{ "node": "Fill Google Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Fill Google Sheet": {
      "main": [
        [{ "node": "Collect Results", "type": "main", "index": 0 }]
      ]
    },
    "Create Google Doc": {
      "main": [
        [{ "node": "Collect Results", "type": "main", "index": 0 }]
      ]
    },
    "Create Google Slides": {
      "main": [
        [{ "node": "Collect Results", "type": "main", "index": 0 }]
      ]
    },
    "Collect Results": {
      "main": [
        [{ "node": "Complete Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": ["org-ai", "document", "google-workspace"],
  "versionId": "1"
}
