apps/n8n-workflows/task-execute.json
{
  "name": "org-ai Task Execute",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $json.runData.taskId }}" },
            { "name": "message", "value": "=n8n ワークフロー開始 [{{ $json.runData.department }}]" },
            { "name": "level", "value": "INFO" }
          ]
        },
        "options": {}
      },
      "id": "log-start",
      "name": "Log Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 部署 + キーワードからtaskModeを判定\nconst rd = $('Execute Workflow Trigger').item.json.runData;\nconst input = (rd.input ?? '').toLowerCase();\nconst dept = rd.department ?? 'GENERAL';\nconst hint = (rd.taskType ?? '').toLowerCase();\n\n// キーワードマッチ\nconst kw = (words) => words.some(w => input.includes(w.toLowerCase()) || hint.includes(w.toLowerCase()));\n\nlet taskMode = 'general';\n\nif (kw(['メール','email','mail','送信','送って'])) taskMode = 'email';\nelse if (kw(['議事録','商談メモ','ミーティング','会議メモ'])) taskMode = 'meeting_notes';\nelse if (kw(['提案書','企画書','ドキュメント','資料','報告書','レポート'])) taskMode = 'proposal';\nelse if (kw(['スケジュール','空き','日程','カレンダー','予定'])) taskMode = 'schedule';\nelse if (kw(['SNS','投稿','ツイート','twitter','instagram','linkedin','ポスト'])) taskMode = 'sns';\nelse if (kw(['コンテンツカレンダー','投稿計画','投稿スケジュール'])) taskMode = 'content_calendar';\nelse if (kw(['領収書','レシート','経費'])) taskMode = 'receipt_summary';\nelse if (kw(['経費レポート','月次','予算'])) taskMode = 'expense_report';\nelse if (kw(['請求書','インボイス'])) taskMode = 'invoice_check';\nelse if (kw(['市場分析','競合分析','マーケット','市場調査','SWOT'])) taskMode = 'market_analysis';\nelse if (kw(['グラフ','チャート','可視化','KPI','統計','トレンド'])) taskMode = 'data_visualization';\n// 部署ベースのフォールバック\nelse if (dept === 'SALES') taskMode = 'proposal';\nelse if (dept === 'MARKETING') taskMode = 'sns';\nelse if (dept === 'ACCOUNTING') taskMode = 'expense_report';\nelse if (dept === 'ANALYTICS') taskMode = 'market_analysis';\n\nreturn [{ json: { taskMode, department: dept, input: rd.input } }];"
      },
      "id": "detect-task-type",
      "name": "Detect Task Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// taskModeに応じた構造化JSON生成用プロンプトを構築\nconst { taskMode, department, input } = $json;\n\nconst prompts = {\n  email: `あなたは営業部のメール作成AIです。ユーザーの指示に基づきビジネスメールを作成してください。\n必ず以下のJSON形式のみを返してください。説明文は不要です。\n{\"taskType\":\"email\",\"to\":\"宛先メールアドレス\",\"cc\":\"\",\"subject\":\"件名\",\"body\":\"本文（改行は\\\\nで表現）\"}`,\n\n  meeting_notes: `あなたは議事録作成AIです。ユーザーの情報をもとに議事録を構造化してまとめてください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"meeting_notes\",\"title\":\"会議名\",\"date\":\"YYYY-MM-DD\",\"attendees\":[\"参加者名\"],\"agenda\":[\"議題\"],\"decisions\":[\"決定事項\"],\"actionItems\":[{\"assignee\":\"担当者\",\"task\":\"タスク\",\"deadline\":\"期限\"}],\"summary\":\"概要\"}`,\n\n  proposal: `あなたは提案書・ドキュメント作成AIです。プロフェッショナルな提案書を作成してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"proposal\",\"title\":\"タイトル\",\"summary\":\"概要\",\"content\":\"マークダウン形式の本文\"}`,\n\n  schedule: `あなたはスケジュール調整AIです。日程候補を提案してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"schedule\",\"title\":\"予定名\",\"preferredDates\":[\"YYYY-MM-DD\"],\"duration\":60,\"participants\":[\"参加者\"],\"notes\":\"備考\"}`,\n\n  sns: `あなたはSNSマーケティングAIです。効果的なSNS投稿を作成してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"sns\",\"platform\":\"twitter\",\"content\":\"投稿本文（280文字以内）\",\"hashtags\":[\"タグ1\",\"タグ2\"],\"tone\":\"professional\",\"targetAudience\":\"ターゲット層\"}`,\n\n  content_calendar: `あなたはコンテンツ企画AIです。SNS投稿カレンダーを作成してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"content_calendar\",\"title\":\"カレンダー名\",\"summary\":\"概要\",\"content\":[{\"date\":\"YYYY-MM-DD\",\"platform\":\"twitter\",\"content\":\"投稿内容\"}]}`,\n\n  receipt_summary: `あなたは経理AIです。領収書・経費データを整理してまとめてください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"receipt_summary\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"取引先\",\"amount\":0,\"category\":\"分類\"}],\"totalAmount\":0,\"summary\":\"概要\"}`,\n\n  expense_report: `あなたは経理AIです。経費レポートを作成してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"expense_report\",\"title\":\"レポート名\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"取引先\",\"amount\":0,\"category\":\"分類\"}],\"totalAmount\":0,\"summary\":\"概要\"}`,\n\n  invoice_check: `あなたは経理AIです。請求書をチェック・整理してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"invoice_check\",\"title\":\"チェック結果\",\"receipts\":[{\"date\":\"YYYY-MM-DD\",\"vendor\":\"取引先\",\"amount\":0,\"category\":\"項目\"}],\"totalAmount\":0,\"summary\":\"概要\"}`,\n\n  market_analysis: `あなたはデータサイエンティストです。市場分析レポートを作成してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"market_analysis\",\"title\":\"分析タイトル\",\"summary\":\"概要\",\"sections\":[{\"heading\":\"セクション名\",\"content\":\"分析内容\"}],\"conclusion\":\"結論\",\"risks\":[\"リスク1\"]}`,\n\n  data_visualization: `あなたはデータサイエンティストです。データ分析結果をグラフ用データとして整理してください。\n必ず以下のJSON形式のみを返してください。\n{\"taskType\":\"data_visualization\",\"title\":\"チャートタイトル\",\"chartType\":\"bar\",\"data\":[{\"label\":\"項目名\",\"value\":0}],\"summary\":\"分析概要\"}`,\n\n  general: `あなたは優秀なビジネスアシスタントです。ユーザーの質問に実用的に回答してください。\n回答はプレーンテキストで返してください。`\n};\n\nconst systemPrompt = prompts[taskMode] ?? prompts.general;\nconst useJsonMode = taskMode !== 'general';\n\nreturn [{ json: { systemPrompt, userInput: input, taskMode, useJsonMode } }];"
      },
      "id": "build-prompt",
      "name": "Build Structured Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "message", "value": "=タスクモード: {{ $json.taskMode }} — Groq API呼び出し中..." },
            { "name": "level", "value": "INFO" }
          ]
        },
        "options": {}
      },
      "id": "log-mode",
      "name": "Log Task Mode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "is-json-mode",
              "leftValue": "={{ $('Build Structured Prompt').item.json.useJsonMode }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "route-json-or-text",
      "name": "JSON or Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: $('Build Structured Prompt').item.json.systemPrompt }, { role: 'user', content: $('Build Structured Prompt').item.json.userInput }], max_tokens: 4000, temperature: 0.3, response_format: { type: 'json_object' } }) }}",
        "options": {}
      },
      "id": "groq-json",
      "name": "Groq JSON Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: $('Build Structured Prompt').item.json.systemPrompt }, { role: 'user', content: $('Build Structured Prompt').item.json.userInput }], max_tokens: 2000, temperature: 0.7 }) }}",
        "options": {}
      },
      "id": "groq-text",
      "name": "Groq Text Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.logUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "message", "value": "=構造化データを生成しました" },
            { "name": "level", "value": "INFO" }
          ]
        },
        "options": {}
      },
      "id": "log-json-done",
      "name": "Log JSON Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "status", "value": "DONE" },
            { "name": "output", "value": "={{ $('Groq JSON Generate').item.json.choices?.[0]?.message?.content ?? '' }}" },
            { "name": "workflowId", "value": "={{ $workflow.id }}" }
          ]
        },
        "options": {}
      },
      "id": "complete-json",
      "name": "Complete JSON Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.runData.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-token", "value": "org-ai-n8n-secret-token" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $('Execute Workflow Trigger').item.json.runData.taskId }}" },
            { "name": "status", "value": "DONE" },
            { "name": "output", "value": "={{ $('Groq Text Generate').item.json.choices?.[0]?.message?.content ?? '' }}" },
            { "name": "workflowId", "value": "={{ $workflow.id }}" }
          ]
        },
        "options": {}
      },
      "id": "complete-text",
      "name": "Complete Text Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 420]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Log Start", "type": "main", "index": 0 }]
      ]
    },
    "Log Start": {
      "main": [
        [{ "node": "Detect Task Type", "type": "main", "index": 0 }]
      ]
    },
    "Detect Task Type": {
      "main": [
        [{ "node": "Build Structured Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Structured Prompt": {
      "main": [
        [{ "node": "Log Task Mode", "type": "main", "index": 0 }]
      ]
    },
    "Log Task Mode": {
      "main": [
        [{ "node": "JSON or Text?", "type": "main", "index": 0 }]
      ]
    },
    "JSON or Text?": {
      "main": [
        [{ "node": "Groq JSON Generate", "type": "main", "index": 0 }],
        [{ "node": "Groq Text Generate", "type": "main", "index": 0 }]
      ]
    },
    "Groq JSON Generate": {
      "main": [
        [{ "node": "Log JSON Done", "type": "main", "index": 0 }]
      ]
    },
    "Log JSON Done": {
      "main": [
        [{ "node": "Complete JSON Task", "type": "main", "index": 0 }]
      ]
    },
    "Groq Text Generate": {
      "main": [
        [{ "node": "Complete Text Task", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null
}
